@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #1e95b3;
    --darktext: #252525;
    --error: tomato;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-primary: #1e95b3;
    --color-darktext: #252525;
    --color-error: tomato;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}