@import 'tailwindcss';

:root {
    --background: #eab74a;
    --primary: #1e95b3;
    --darktext: #3b3b3b;
    --lighttext: #f5f5f5;
    --border: #99a1af;
    --error: tomato;
}

@theme inline {
    --color-background: var(--background);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-primary: var(--primary);
    --color-darktext: var(--darktext);
    --color-lighttext: var(--lighttext);
    --color-border: var(--border);
    --color-error: var(--error);
}

body {
    background: var(--background);
    color: var(--darktext);
    font-family: Arial, Helvetica, sans-serif;
}

.swal-rounded {
    border-radius: 32px;
}
  
.swal-btn-rounded {
    border-radius: 999px;
    padding: 10px 20px;
}  